:root {
    --bg: #F7F9FC;
    --surface: #FFFFFF;
    --surface-sub: #F2F4F7;
    --surface-menu: #f0f1f5;
    --border: #E5E7EB;
    --text: #9cb0df;
    --text-hover: #000;
    --hover: rgba(50, 100, 250, 0.08);
    --shadow-hover: 0 3px 10px rgba(0, 0, 0, 0.08);
    --surface-hover: #e8ecf8;
    --muted: #64748B;
    --accent: #00C471;
    --accent2: #2C7BE5;
    --input: #EDF2F7;
}
