<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <context-param>
        <param-name>fileName</param-name>
        <param-value>controller-mapping</param-value>
    </context-param>

    <context-param>
        <param-name>apiFileName</param-name>
        <param-value>api-controller-mapping</param-value>
    </context-param>

    <context-param>
        <param-name>smtp.host</param-name>
        <param-value>smtp.naver.com</param-value>
    </context-param>

    <context-param>
        <param-name>smtp.port</param-name>
        <param-value>587</param-value>
    </context-param>

    <context-param>
        <param-name>smtp.username</param-name>
        <param-value>SMTP 등록계정@naver.com</param-value>
    </context-param>

    <context-param>
        <param-name>smtp.password</param-name>
        <param-value>앱 비밀번호</param-value>
    </context-param>


</web-app>